
<h2><%= @flashcard.name %></h2>


  <form action="/quiz" method="post">
  <input type="hidden" name="definition" value="<%= @flashcard.definition %>">
    <div class="radio">
      <label><input type="radio" name="answer" value="Correct!"><%= @flashcard.definition %></label>
      <label><input type="radio" name="answer" value="Not Correct"><%= @wronganswer1.definition %></label>
      <label><input type="radio" name="answer" value="Not Correct"><%= @wronganswer2.definition %></label>
      <label><input type="radio" name="answer" value="Not Correct"><%= @wronganswer3.definition %></label>
    </div>
      <br><br><br>
      <button type="submit">Submit</button>
    </form>
