
<h2><%= @flashcard.name %></h2>




<% if @flashcards.any?() %>

  <form action="/quiz/<%= @flashcard.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <div class="checkbox">
      <label><input type="radio" name="answer1" value="<% @flashcard.definition %>"><%= @flashcard.definition %></label>
      <label><input type="radio" name="answer1" value="<% @wronganswer1.definition %>"><%= @wronganswer1.definition %></label>
      <label><input type="radio" name="answer1" value="<% @wronganswer2.definition %>"><%= @wronganswer2.definition %></label>
      <label><input type="radio" name="answer1" value="<% @wronganswer3.definition %>"><%= @wronganswer3.definition %></label>

      <br><br><br>
    </div>

      <br>
      <button type="submit">Update</button>
    </form>
    <% end %>
